*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} .nav-list {
    margin: top 20px, right 30px, bottom 20px, left 40px;
    padding: 30px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: chocolate;
} body {
    background-color: antiquewhite;
} header {
    font-size: 50px;
}.profile-picture {
    width:300px;
    border-radius: 50px;
    margin: 10px;
} header {
    font-family: 'Courier New', Courier, monospace;
    color: #4169E1;
}