*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
/* } .main-nav {
    margin: top 20px, right 30px, bottom 20px, left 40px;
    padding: 30px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: chocolate; */
} .site-nav {
    list-style: none;
    /* margin-right: 30px; */
    display: flex;
    /* font-size: 20px; */
} .site-nav li {
    display: flex;
    font-size: 20px;
    margin-right: 30px;
} .header {
    font-size: 30px;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    color: #4169E1;
    padding: 10px 20px;
} .profile-picture {
    width: 100%;
    border-radius: 50px;
    padding-top: 0px;
    display: flex;
    background-size: cover;
    max-width: 400px;
/* } .container {
    display: flex; */
} .home-content {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
} .bio {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
} .store-image {
    width: 100%;
    padding-top: 0px;
    padding-left: 20px;
    display: flex;
    background-size: cover;
    max-width: 500px;
} .tea-image {
    width: 100%;
    padding-top: 0px;
    padding-left: 20px;
    display: flex;
    background-size: cover;
    max-width: 500px;
} .projects {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #4169E1;
    font-size: 30px;
} .project-desc {
    width: 100%;
    display: flex;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4169E1;
    font-family: 'Courier New', Courier, monospace;
}
/* } @media screen and (min-width 800px) {} */
